<!-- HTML da barra superior -->
<nav class="navbar-header">
  <a aria-label="Angular Itau Test" class="button mat-button" mat-button="" routerlink="/" tabindex="0" aria-disabled="false"
    href="/">
    <span class="mat-button-wrapper" id="app-title">
      <img class="itau-logo" src="../../../assets/img/itau-logo.png" />
          {{title}}
    </span>
  </a>
  <div class="flex-spacer"></div>
  <a aria-label="GitHub Repository" class="navbar-hide-small mat-button" href="https://github.com/leonardoblanco/itau-git-client"
    target="_blank" mat-button="" tabindex="0" aria-disabled="false">
    <span class="mat-button-wrapper">
      <img alt="Leonardo" class="angular-logo" src="../../../assets/img/github-circle-white-transparent.svg"> GitHub
    </span>
  </a>
</nav>
<!-- Router outlet -->
<router-outlet></router-outlet>